*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* --------------------------------- */
/* HEADER */
header , footer{
    padding: 15px 20px;
}

header{
    display: flex;
    justify-content: space-between;
}

header div:first-child{
    display: flex;
    align-items: center;
}
img{
    width: 60px;
    margin-right: 10px;
}
header div:last-child{
    display: flex;
    align-items: center;
}

input , select{
    padding: 5px 20px;
    font-size: 1.125rem;
    margin: 0 10px;
}
/* --------------------------------- */
/* MAIN */
main{
    flex-grow: 1;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: 40.625rem;
    height: 40.625rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorbg{
    background-color: aqua;
}

.lv1{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.lv2{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.lv3{
    width: calc(100% / 7);
    height: calc(100% / 7);
}